*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#hero{
    width: 100%;
    height: 100vh;
    background-image: url(Asset/Image/an2.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
}
button{
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.container{
    width: 50%;
    height: 100vh;
    background: rgba(86, 86, 86, 0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.info{
    width: 562px;
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
}
.info h1{
    font-size: 60px;
    letter-spacing: 3px;
    outline: 30px  black;
    outline-style: auto;
    -webkit-text-stroke: 2px black;
    text-align: center;
}
.info p{
    color: white;
    -webkit-text-stroke: 0.5px yellow;
    font-size: 25px;
    margin: 20px 0;
    line-height: 25px;
    text-align: center;

}
.backButton{
    display: flex;
    align-items: center;
    position: absolute;
    left: 50px;
    bottom: 60px;
}
#previous, #next{
    width: 20px;
    cursor: pointer;
}
